
body {
    padding: 2em;
    padding-bottom: 16em;
    margin: auto;
    background-image: url(polka.jpg);
    
}
  
main {
    width: 700px; 
    height: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-evenly;
    grid-column-gap: 3pt;
    grid-row-gap: 3pt;
    grid-template-areas:
    "topleft topmiddle topright"
    "middleleft middlemiddle middleright"
    "bottomleft bottommiddle bottomright";

}
   
   img {

    width: 300px;
    height: 300px;
   }
  
   .topleft {
       border-radius: 5%;
       
       grid-area: topleft;
       background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
   

.topmiddle {
  border-radius: 5%;
    grid-area: topmiddle;
    background: linear-gradient(-45deg, #cfdd07, #68e04a, #23a6d5, #a81fe7);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.topright {
  border-radius: 5%;
    grid-area: topright;
    background: linear-gradient(-45deg, #fa6a3e, #b399a3, #74888f, #200be0);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.middleleft {
  border-radius: 5%;
    grid-area: middleleft;
    background: linear-gradient(-45deg, #f70000, #19d6bd, #6a0a77, #d61094);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  
} 

.middlemiddle {
 grid-area: middlemiddle;
 background-color: black;
 color: white;
 border-radius: 5%;
}
.middleright {
 grid-area: middleright;
 border-radius: 5%;
 background: linear-gradient(-45deg, #16ff0e, #6da38a, #075a1c, #23d5ab);
 background-size: 400% 400%;
 animation: gradient 5s ease infinite;
 
}
@keyframes gradient {
 0% {
   background-position: 0% 50%;
 }
 50% {
   background-position: 100% 50%;
 }
 100% {
   background-position: 0% 50%;
 }
} 
.bottomleft {
  border-radius: 5%;
    grid-area: bottomleft;
    background: linear-gradient(-45deg, #a16350, #1f6e57, #cf6371, #11d4a7);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
} 

.bottommiddle {
  border-radius: 5%;
 grid-area: bottommiddle;
 background: linear-gradient(-45deg, #92807b, #ad426b, #23d52c, #5223d5);
 background-size: 400% 400%;
 animation: gradient 5s ease infinite;
 
}
@keyframes gradient {
 0% {
   background-position: 0% 50%;
 }
 50% {
   background-position: 100% 50%;
 }
 100% {
   background-position: 0% 50%;
 }
}
.bottomright {
  border-radius: 5%;
 grid-area: bottomright;
 background: linear-gradient(-45deg, #5fee52, #3cbfe7, #d58223, #d523cc);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
} 
h1 {
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 120px 0 0 0;
   

}
/**media**/

@media (max-width: 950px) {
  
    body{
        margin: auto;
        background-image: url(polka2.jpg);
        padding: 2em;
        height: fit-content;
  
    }
      main {
      height: auto;
      margin-left: 90px;
      display: grid;
      justify-content: space-evenly;
      grid-template-areas:
      "topleft topmiddle "
      "middlemiddle middleleft"
      "bottomleft bottommiddle"
      "topright middleright"
      "bottomright ...";
    }

       h1 {
        text-align: center;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        padding: 110px 0 0 0;
    }
}
       @media (max-width: 650px) {
  
        body{
            margin: auto;
            background-image: url(polka3.jpg);
            padding: 1em;
            height: fit-content;
        }
          main {
       
          margin-left: 90px;
          display: grid;
          
          grid-template-areas:
          "topleft" 
          "topmiddle"
           "topright"
          "middleleft"
           "middlemiddle"
            "middleright"
          "bottomleft"
           "bottommiddle"
            "bottomright";;
        }
        h1 {
            text-align: center;
            font-size: 20px;
            font-family: 'Poppins', sans-serif;
            padding: 110px 0 0 0;
        }
           
        }
