body {
  margin: auto;
  background-image: url("fundo.jpg");
  background-repeat: no-repeat;
  background-size:100% 100%;
 
}
main {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "image toptxt"
  "left right";
  width: 550pt; 
  height: 600pt;
  margin: auto;
  grid-column-gap: 10pt;
  justify-content: space-evenly;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  grid-area: main;
  
  

}

.toptext {
  
  color: rgb(0, 0, 0);
  justify-content: space-evenly;
  align-items: center;
  grid-area: toptxt;
  height: min-content;
  
}


h1 {color: rgb(0, 0, 0);
  text-align: left;
   font-size: 50px;
}

h2 {
  margin-top: 70px;
  color: rgb(185,0,0);
}
h3 {
  color: white;
  font-size: 12pt;
}
h4 {
  color: white;
  font-size: 08pt;
}


a {
  color: #FFFFFF;
  text-decoration: none;
}
p { font-style: normal;
  text-decoration: none;
  color: white;
}


.left
{
  opacity: 0.8;
  background-color: rgb(0, 0, 0);
  border-color: black ;
  text-align: center;
  padding-top: 1px;
  margin-top: 12pt;
  margin-left: 2pt;
  font-size: 10px;
  grid-area: left;
  border-style: hidden;
  border-width: 0px;
  border-top-color: lighten(#000, 20%);
  border-right-color: lighten(#000, 0%);
  border-bottom-color: lighten(#000, 20%);
  border-left-color: lighten(#000, 0%);
  box-shadow: 2px 2px 4px rgba(0,0,0,.6);
  border-radius: 2%;
  

}

.rightcolumn
{
  opacity: 0.8;
  background-color: rgb(0, 0, 0);
  width: auto;
  margin: 1pt;
  text-align: Left;
  padding-top: 5pt;
  padding-left: 10pt;
  margin-top: 12pt;
  grid-area: right;
  border-style: hidden;
  border-width: 0px;
  border-top-color: lighten(#000, 20%);
  border-right-color: lighten(#000, 0%);
  border-bottom-color: lighten(#000, 20%);
  border-left-color: lighten(#000, 0%);
  border-radius: 2%;
  box-shadow: 2px 2px 4px rgba(0,0,0,.6);
}
image {
  grid-area: image;

}
img {
  max-width: 200px;
  grid-column: 1/2;
  grid-row: 1/2; 
  margin: auto;  
  padding-top: 10pt;
  background-image: url("brick.png");
  background-size: cover;
  padding: 1;
  border-style: solid;
  border-width: 10px;
  border-top-color: lighten(#000, 20%);
  border-right-color: lighten(#000, 0%);
  border-bottom-color: lighten(#000, 20%);
  border-left-color: lighten(#000, 0%);
  box-shadow: 2px 2px 4px rgba(0,0,0,.6);
}
.img2 {
  border-radius: 50%;
  border-width: 2px;
  grid-column: 1/2;
  grid-row: 1/2; 
  margin: auto;  
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
 
}

.rightcolumn  hr {
  border-width: 1px;
  width: 50%;
}

@media (max-width: 700px) {
  
  body{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/953/802/548/mario-stars-wallpaper-preview.jpg");
    background-repeat: repeat;
    background-size: auto;
  }
    main {
    height: 1800px;
    margin-left: 90px;
    display: grid;
    justify-content: space-evenly;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/953/802/548/mario-stars-wallpaper-preview.jpg");
  background-repeat: repeat;
  background-size: auto;
    background-color: white;
    grid-template-areas:
    
    "image"
     "toptxt"
     "right"
     "left"
     }
     h1 {
      color: white;
      text-align: center;
      margin-top: -10px;
}
h2{
  text-align: center;
  margin-top: 50px;
  
}
.toptext {
  
 height: 5px;
}
.rightcolumn{
margin-bottom: 250px;
}
.left {
  
  margin-top: -150pt;
}
}
